{{ 'custom-section.css' | asset_url | stylesheet_tag }}

<div class="custom-section">
    <div class="custom-section__content">
      <div class="custom-section__text">
        <h2>{{ section.settings.title }}</h2>
        {{ section.settings.text }}
      </div>
      <div class="custom-section__image">
        {% if section.settings.image != blank %}
          <img src="{{ section.settings.image | img_url: '300x' }}" alt="{{ section.settings.image.alt | escape }}">
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
    </div>

    {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'button' -%}
            <div class="custom-section__button" {{ block.shopify_attributes }}>
              <a href="{{ block.settings.button_link }}" class="button button--primary"{% if block.settings.button_link == blank %} aria-disabled="true"{% endif %}>
                {{ block.settings.button_label | escape }}
              </a>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>

  {% schema %}
  {
    "name": "Sección Personalizada",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Título",
        "default": "Mi Sección Personalizada"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Texto",
        "default": "<p>Este es el contenido editable de mi sección personalizada.</p>"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Imagen"
      }
    ],
    "blocks": [
        {
          "type": "button",
          "name": "Botón",
          "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "button_label",
              "default": "Botón",
              "label": "Etiqueta del botón"
            },
            {
              "type": "url",
              "id": "button_link",
              "label": "Enlace del botón"
            }
          ]
        }
      ],
    "presets": [
      {
        "name": "Sección Personalizada",
        "category": "Custom",
      }
    ]
  }
  {% endschema %}